:root {
    --tile-border: 2px solid black;
}

.grid {
    /* Display */
    display: flex;
    flex-direction: column;

    /* Border */
    border: 1px solid black;
}

.cell-row {
    /* Display */
    display: flex;
    flex-direction: row;
}
/* Embolden the sudoku tile row borders */
.cell-row:nth-child(3n) {
    border-bottom: var(--tile-border);
}
.cell-row:first-child {
    border-top: var(--tile-border);
}

.cell {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    /* Border */
    border: 0.5px solid grey;

    /* Typography */
    font-size: 35px;
}
/* Embolden the sudoku tile column borders */
.cell:nth-child(3n) {
    border-right: var(--tile-border);
}
.cell:first-child {
    border-left: var(--tile-border);
}

.game-cell {
    /* Typography */
    color: #3e569e;
}

.active-cell {
    /* Background */
    background-color: #79b9c9;
}

.highlighted-cell {
    /* Background */
    background-color: #cfe1e6;
}

.highlighted-cell-value {
    /* Background */
    background-color: #abc3c9;

}
