@import "./colour-scheme.css";

:root {
  --tile-border: 2px solid var(--border-primary);
}

.grid {
  /* Display */
  display: flex;
  flex-direction: column;

  /* Border */
  border: 1px solid var(--border-primary);
}

.cell-row {
  /* Display */
  display: flex;
  flex-direction: row;
}
/* Embolden the sudoku tile row borders */
.cell-row:nth-child(3n) {
  border-bottom: var(--tile-border);
}
.cell-row:first-child {
  border-top: var(--tile-border);
}

.cell {
  /* Display */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;

  /* Border */
  border: 0.5px solid var(--border-secondary);

  /* Typography */
  font-size: 35px;
}
.cell:hover {
  cursor: default;
  background-color: var(--background-cell-active);
}
/* Embolden the sudoku tile column borders */
.cell:nth-child(3n) {
  border-right: var(--tile-border);
}
.cell:first-child {
  border-left: var(--tile-border);
}

@keyframes solved-throb {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.cell-solved {
  /* Background */
  background-color: var(--background-cell-solved) !important;

  /* Animation */
  animation-name: solved-throb;
  animation-duration: 0.25s;
  animation-iteration-count: 5;
}

.game-cell {
  /* Typography */
  color: var(--font-secondary);
}

.game-cell-incorrect {
  /* Background */
  background-color: var(--background-cell-incorrect) !important;
}

.active-cell {
  /* Background */
  background-color: var(--background-cell-active);
}

.highlighted-cell {
  /* Background */
  background-color: var(--background-cell-highlighted);
}

.highlighted-cell-value {
  /* Background */
  background-color: var(--background-cell-value-highlighted);
}
