@import "./colour-scheme.css";

:root {
  --tile-border: 2px solid var(--border-black);
}

.grid {
  /* Display */
  display: flex;
  flex-direction: column;

  /* Border */
  border: 1px solid var(--border-black);
}

.cell-row {
  /* Display */
  display: flex;
  flex-direction: row;
}
/* Embolden the sudoku tile row borders */
.cell-row:nth-child(3n) {
  border-bottom: var(--tile-border);
}
.cell-row:first-child {
  border-top: var(--tile-border);
}

.cell {
  /* Display */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;

  /* Border */
  border: 0.5px solid var(--border-grey);

  /* Typography */
  font-size: 35px;
}
.cell:hover {
  cursor: default;
  background-color: var(--background-cell-active);
}
/* Embolden the sudoku tile column borders */
.cell:nth-child(3n) {
  border-right: var(--tile-border);
}
.cell:first-child {
  border-left: var(--tile-border);
}

.game-cell {
  /* Typography */
  color: var(--font-dark-blue);
}

.game-cell-invalid {
  /* Background */
  background-color: var(--background-cell-invalid) !important;
}

.active-cell {
  /* Background */
  background-color: var(--background-cell-active);
}

.highlighted-cell {
  /* Background */
  background-color: var(--background-cell-highlighted);
}

.highlighted-cell-value {
  /* Background */
  background-color: var(--background-cell-value-highlighted);
}
