:root {
  /* Background colours */
  --background-primary: white;
  --background-headstrap: #e6ebf2;

  --background-cell-active: #79b9c9;
  --background-cell-highlighted: #cfe1e6;
  --background-cell-value-highlighted: #abc3c9;
  --background-cell-incorrect: #db9194;
  --background-cell-solved: #bcebc8;

  --background-control: #e6ebf2;
  --background-control-hover: #d3dceb;
  --background-new-game: #1a55ba;
  --background-new-game-hover: #154596;

  /* Border colours */
  --border-primary: black;
  --border-secondary: grey;

  /* Font colours */
  --font-primary: black;
  --font-secondary: #1a55ba;
  --font-headstrap: #29354a;
}

[data-theme="dark"] {
  /* Background colours */
  --background-primary: #141414;
  --background-headstrap: #353738;

  --background-cell-active: #79b9c9; /* TODO */
  --background-cell-highlighted: #cfe1e6; /* TODO */
  --background-cell-value-highlighted: #abc3c9; /* TODO */
  --background-cell-incorrect: #db9194; /* TODO */
  --background-cell-solved: #bcebc8; /* TODO */

  --background-control: #7a7a7a;
  --background-control-hover: #d3dceb; /* TODO */
  --background-new-game: #1a55ba; /* TODO */
  --background-new-game-hover: #154596; /* TODO */

  /* Border colours */
  --border-primary: white; /* TODO */
  --border-secondary: white; /* TODO */

  /* Font colours */
  --font-primary: white;
  --font-secondary: #f7f5d0;
  --font-headstrap: #86b1ba;
}
