:root {
  /* Background colours */
  --background-cell-active: #79b9c9;
  --background-cell-highlighted: #cfe1e6;
  --background-cell-value-highlighted: #abc3c9;

  --background-control: #e6ebf2;
  --background-control-hover: #d3dceb;

  /* Border colours */
  --border-black: black;
  --border-grey: grey;

  /* Font colours */
  --font-dark-blue: #1a55ba;
  --font-grey-blue: #29354a;
}
