@import "./colour-scheme.css";

.control-panel {
  /* Display */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  padding: 10px;
}

/* ----------------------------------------
Number input panel and children
---------------------------------------- */
.number-input-panel {
  /* Display */
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 225px;
}

.number-input {
  /* Display */
  display: flex;
  flex-basis: 30%; /* Ensure each 3rd number causes a wrap */
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  margin: 2px;

  /* Background and border */
  background-color: var(--background-control);
  border-radius: 10px;

  /* Typography */
  font-size: 40px;
  color: var(--font-dark-blue);
}
.number-input:hover {
  cursor: pointer;
  background-color: var(--background-control-hover);
}

/* ----------------------------------------
Action panel and children
---------------------------------------- */
.action-panel {
  /* Display */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 200px;
}

.action-button {
  /* Display */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-button-icon-wrapper {
  /* Display */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;

  /* Background and border */
  background-color: var(--background-control);
  border-radius: 50%;
}
.action-button-icon-wrapper:hover {
  cursor: pointer;
  background-color: var(--background-control-hover);
}

.action-button-icon {
  /* Display */
  width: 50%;
  height: 50%;

  /* Typography */
  color: var(--font-dark-blue);
}

.action-button-text {
  /* Typography */
  color: var(--font-dark-blue);
}
