.grid {
    /* Display */
    display: flex;
    flex-direction: column;

    /* Border */
    border: 5px solid black;
}

.cell-row {
    /* Display */
    display: flex;
    flex-direction: row;
}

.cell {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    /* Border */
    border: 1px solid black;

    /* Typography */
    font-size: 35px;
    font-weight: bold;
}
