/* ----------------------------------------
Global settings
---------------------------------------- */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
}

/* ----------------------------------------
Page layout
---------------------------------------- */
.page-content {
  /* Display */
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 50%;
  margin-left: 25%;
  margin-right: 25%;

  /* Typography */
  font-family: Monaco;
}

.headstrap {
  /* Display */
  display: flex;
  justify-content: center;
  padding-bottom: 20px;

  /* Border */
  border-bottom: 1px solid grey;

  /* Typography */
  font-weight: bold;
  font-style: italic;
  font-family: Arial;
}

/* ----------------------------------------
Game layout
---------------------------------------- */
.game {
  /* Display */
  display: flex;
  justify-content: center;
}
