@import "./colour-scheme.css";

/* ----------------------------------------
Global settings
---------------------------------------- */
body {
    /* Display */
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    justify-content: center;
}

/* ----------------------------------------
Page layout
---------------------------------------- */
.page-wrapper {
    /* Display */
    height: 100vh;
    width: 100vw;

    /* Background */
    background-color: var(--background-primary);

    /* Transition */
    transition: all .5s;
}

.page-content {
    /* Display */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 100%;

    /* Typography */
    font-family: Monaco;
}

.headstrap {
    /* Display */
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 0;

    /* Border */
    background-color: var(--background-secondary);
    border-bottom: 1px solid var(--border-secondary);

    /* Typography */
    color: var(--font-secondary);
    font-weight: bold;
    font-family: Arial;
}

/* ----------------------------------------
Game layout
---------------------------------------- */
.game-container {
    /* Display */
    display: flex;
    flex-direction: column;
}

.game {
    /* Display */
    display: flex;
    justify-content: center;
}

.game-info-container {
    /* Display */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

.game-difficulty {
    /* Typography */
    color: var(--font-primary);
    font-size: 15px;
}
